{% extends "master.html" %}
{% block title %}
  About me
{% endblock title %}
{% block content %}
<center>

    <p>I am an CTIS major student at Bilkent University </p>
    <p>In this project , my goal is to learn how to develop a website </p> 
    <p>I've choosed Django in order to make the things easier to learn at the begining </p>
    <p> If I achieve my goal at the end of the day . I'll release my website</p>
    <h3> Thank you for visiting here ! </h3>
    
</center>
{% endblock content %}