{% extends "master.html" %}

{% block title %}
  List of all members
{% endblock %}


{% block content %}
<table class="table table-white">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="search_req" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% for user in mymembers  %}
      
    <tr>
      <td>{{user.id}}</td>
      <td><a href="details/{{user.id}}">{{user.first_name}}</a> </td>
      <td>{{user.last_name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}