{% extends "master.html" %}

{% block title %}
  Details about {{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}


{% block content %}
  <h1>{{ mymember.first_name }} {{ mymember.last_name }}</h1>
  <img src="{{ mymember.profile_picture.url }}"  class="img-thumbnail" width="200"><br>
{% if logged_in_user == mymember%}
<a href="/members/details/{{mymember.id}}/edit">Edit my profile details</a>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="profile_picture"><br>
  <button type="submit">Upload Picture</button>
</form>

{% endif %}


  <p>ID : {{mymember.id}}</p>
  <p>Last login: {{ mymember.last_login }}</p>
   <p>Email : {{mymember.email}}</p> 
  <p>Back to <a href="/members">Members</a></p>
  
{% endblock %}