{% extends "master.html" %}
{% block title %}
Followings of {{mymember.first_name}} {{mymember.last_name}}
  
{% endblock title %}
{% block content %}
  
<table class="table table-white">
    <center>
        <h2>  {{mymember.first_name}} {{mymember.last_name}} is following</h2>
    </center>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Following</th>
            <th scope="col">following</th>
            <th scope="col"> PP</th>
        </tr>
    </thead>
    <tbody>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="search_req" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% for following in followings  %}
        
        <tr>
            <td>{{following.id}}</td>
            <td><a href="details/{{following.id}}">{{following.first_name}}</a> </td>
            <td>{{following.last_name}}</td>
            <td>{{following.email}}</td>
            <td>{{following_count}}</td>
            <td>{{followings_count}}</td>
            <td><img src="{{ following.profile_picture.url }}"  class="img-thumbnail" width="200"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
  