{% extends "master.html" %}
{% block title %}
  Forget My Password
{% endblock title %}
{% block content %}
<style>
    /* General Message Style */
.message {
  padding: 1px;
  margin-bottom: 1px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
  color: #fff; /* Default text color for all messages */
    }

    
    .message {
      padding: 1px;
      margin-bottom: 1px;
      border: 1px solid transparent;
      border-radius: 4px;
      position: relative;
      color: #fff; /* Default text color for all messages */
    }
    
    /* Success Message */
    .message.success {
      background-color:green;  /* Change this to your desired color */
      color:white;                /* Text color */
    }
    
    /* Info Message */
    .message.info {
      background-color: #17a2b8;  /* Change this to your desired color */
      border-color: #138496;      /* Optional: change the border color */
      color: #fff;                /* Text color */
    }
    .message.error {
        background-color: red;
        border-color: red;
        color: white;
    }
    
    
    
    h1 {text-align: center;}
    
    li {
      
      display: inline-block;
      
    }
    
    
    
    
  </style>

  {% if messages %}
    <div class="message">
        {% for message in messages %}
            <div class="message {{ message.level_tag }}">
                {{ message }}
                <button class="close" onclick="this.parentElement.style.display='none';">&times;</span>
            </div>
        {% endfor %}
    </div>
{% endif %}
<center>

    <form method="post" style="display: inline-block;">
        {% csrf_token %}
        <label for="email">E-mail:</label><br>
        <input type="email" id="email" name="email"><br>
        <button type="submit">Send me an email to reset my password</button>
    </form>
</center>
{% endblock content %}