{% extends "master.html" %}
{% block title %}
  Home
{% endblock title %}

{% block content %}
<nav>
  <ul>
      {% if user.is_authenticated%}
          <li>Welcome, {{ user.first_name }}!</li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          <li><a href="/members/details/{{user.id}}">My profile details</a></li>
      {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
          
      {% endif %}
  </ul>
</nav>
  <h1>My social media</h1>
  <h3>Members</h3>
  <p>Check out all of the <a href="/members">members</a></p>
{% endblock content %}