{% extends "master.html" %}
{% block title %}
  Home

{% endblock title %}
  
  {% block content %}
  <style>
    /* General Message Style */
.message {
  padding: 1px;
  margin-bottom: 1px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
  color: #fff; /* Default text color for all messages */
    }

    
    .message {
      padding: 1px;
      margin-bottom: 1px;
      border: 1px solid transparent;
      border-radius: 4px;
      position: relative;
      color: #fff; /* Default text color for all messages */
    }
    
    /* Success Message */
    .message.success {
      background-color:green;  /* Change this to your desired color */
      color:white;                /* Text color */
    }
    
    /* Info Message */
    .message.info {
      background-color: #17a2b8;  /* Change this to your desired color */
      border-color: #138496;      /* Optional: change the border color */
      color: #fff;                /* Text color */
    }
    
    
    
    h1 {text-align: center;}
    
    li {
      
      display: inline-block;
      
    }
    
    
    
    
  </style>

  {% if messages %}
    <div class="message">
        {% for message in messages %}
            <div class="message {{ message.level_tag }}">
                {{ message }}
                <button class="close" onclick="this.parentElement.style.display='none';">&times;</span>
            </div>
        {% endfor %}
    </div>
{% endif %}

<nav>
  <ul>
    {% if user.is_authenticated%}
    <li>Welcome, {{ user.first_name }}!</li>
    <br>
    <li><a href="{% url 'logout' %}">Logout</a></li>
    <br>
    <li><a href="/members/details/{{user.id}}">My profile details</a></li>
    <br>
    {% else %}
    <br>
    <li><a href="{% url 'login' %}">Login</a></li>
    <br>
    <li><a href="{% url 'register' %}">Register</a></li>
    
    {% endif %}
  </ul>
</nav>
<center>
<h1>My social media</h1>

  <h3 style="text-align:left;">Members</h3>
  <p style="text-align:justify;">Check out all of the <a href="/members">members</a></p>
</center>
  {% endblock content %}