{% extends "master.html" %}
{% block title %}
  Home

{% endblock title %}
  
{% block content %}
  <style>
    /* General Message Style */
.message {
  padding: 1px;
  margin-bottom: 1px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
  color: #fff; /* Default text color for all messages */
    }

    
    .message {
      padding: 1px;
      margin-bottom: 1px;
      border: 1px solid transparent;
      border-radius: 4px;
      position: relative;
      color: #fff; /* Default text color for all messages */
    }
    
    /* Success Message */
    .message.success {
      background-color:green;  /* Change this to your desired color */
      color:white;                /* Text color */
    }
    
    /* Info Message */
    .message.info {
      background-color: #17a2b8;  /* Change this to your desired color */
      border-color: #138496;      /* Optional: change the border color */
      color: #fff;                /* Text color */
    }
    
    
    
    h1 {text-align: center;}
    
    li {
      
      display: inline-block;
      
    }
    
    
    
    
  </style>

{% if messages %}
    <div class="message">
        {% for message in messages %}
            <div class="message {{ message.level_tag }}">
                {{ message }}
                <button class="close" onclick="this.parentElement.style.display='none';">&times;</span>
            </div>
        {% endfor %}
    </div>
{% endif %}


  <style>
    /* General Message Style */
.message {
  padding: 1px;
  margin-bottom: 1px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
  color: #fff; /* Default text color for all messages */
    }

    
    .message {
      padding: 1px;
      margin-bottom: 1px;
      border: 1px solid transparent;
      border-radius: 4px;
      position: relative;
      color: #fff; /* Default text color for all messages */
    }
    
    /* Success Message */
    .message.success {
      background-color:green;  /* Change this to your desired color */
      color:white;                /* Text color */
    }
    
    /* Info Message */
    .message.info {
      background-color: #17a2b8;  /* Change this to your desired color */
      border-color: #138496;      /* Optional: change the border color */
      color: #fff;                /* Text color */
    }
    
    
    
    h1 {text-align: center;}
    
    li {
      
      display: inline-block;
      
    }
    
    
    
    
  </style>

  

<nav class="text-center">
  <ul>
    {% if user.is_authenticated%}
    <li>Welcome, {{ user.first_name }}!</li>
    <br>
    <li><a href="{% url 'logout' %}" class="btn btn-primary m-2"> <i class="fas fa-sign-out-alt"></i>Logout</a></li>
    <br>
    <li><a href="/members/details/{{user.id}}">My profile details</a></li>
    <br>
    {% else %}
    <br>
    <li><a href="{% url 'login' %}" class="btn btn-primary m-2">  <i class="fas fa-sign-in-alt"></i> Login</a></li>
    <br>
    <li><a href="{% url 'register' %}" class="btn btn-secondary m-2"> <i class="fas fa-user-plus"></i>Register</a></li>
    <div class="jumbotron jumbotron-fluid" style="background-color: #17a2b8;" background-size: cover; color: white;">
      <div class="container text-center">
        <h1 class="display-4">Welcome to My Social Media</h1>
        <p class="lead">Connect with friends and fun ! </p>
        <a href="{% url 'register' %}" class="btn btn-primary btn-lg">Join Now</a>
      </div>
    </div>
    
    {% endif %}
  </ul>
</nav>

<center>
    
  
<h1 class="text-center">My social media</h1>

  <h3 style="text-align:left;">Members</h3>
  <p style="text-align:justify;">Check out all of the <a href="/members">members</a></p>
</center>
  {% endblock content %}