
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SignUp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <div class="container">
        {% if messages %}
            Messages exist!
        {% else %}
             No messages found.
        {% endif %}
        <h3>Sign In</h3>
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissable fade show" role="alert">
        <strong>Message:</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label=""Close>
        <span aria-hidden="true">&times</span>
        </button>
        </div>
        {% endfor %}
        <div class = "login-box" >
        <form action="/signin" method="post">
            {% csrf_token %}
            <div class = "user-box">
                <label >Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class = "user-box">
                <label >Password</label>
                <input type="password" id="pass1" name="pass1"  required>
            </div>

                <button type="submit">Sign In</button>
                <br>
                <button > <a href="../">Go home page</a></button>

        </form>
        </div>
        <script src="" async defer></script>
        </div>
    </body>
</html>