<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SignUp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% if messages %}
            Messages exist!
        {% else %}
            No messages found.
        {% endif %}

        {% for message in messages%}
        <div class="alert alert-{{message.tags}} alert-dismissable fade show" role="alert">
        <strong>Message:</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label=""Close>
        <span aria-hidden="true">&times</span>
        </button>
        </div>
        {% endfor %}
        <h3>Sign Up</h3>
        <form action="/signup" method="post">
        {% csrf_token %}
            <label for="">First name</label>
            <input type="text" id="fname" name="fname" placeholder="Your first name" required>
            <br>
            <label for="">Last name</label>
            <input type="text" id="lname" name="lname" placeholder="Your Last name" required>
            <br>
            <label for="">Username</label>
            <input type="text" id="username" name="username" placeholder="Create a username" required>
            <br>
            <label for="">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your e-mail" required>
            <br>
            <label for="">Pasword</label>
            <input type="password" id="pass1" name="pass1" placeholder="Create a Pasword" required>
            <br>
            <label for="">Confirm Password</label>
            <input type="password" id="pass2" name="pass2" placeholder="Confirm your password" required>
            <br>
            <button type="submit">Sign Up</button>
        </form>
        <script src="" async defer></script>
    </body>
</html>